body, html {
    background-color: rgb(136, 132, 133);
    font-family: 'Luxurious Roman', cursive;
    margin-left: 50px;
    margin-right: 50px;
    height: 100%;
}

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("https://images.twinkl.co.uk/tr/image/upload/illustation/Charles-Darwin-2.png");
    min-height: 80%;
}

.bgimg-2 {
    background-image: url("../Pictures/cap5/proxy.webp");
    min-height: 80%;
}

.bgimg-3 {
    background-image: url("../Pictures/cap5/beagle.JPG");
    min-height: 80%;
}

.bgimg-4 {
    background-image: url("../Pictures/cap5/5e63133730aa4a0ca028e510_800x0xcover_qWq6tyeU.jpg");
    min-height: 80%;
}


.top {
    position: relative;
    text-align: center;
    font-size: 25px;
}

p {
    text-indent: 3em;
    line-height: 1.6;
    font-size: 23px;
}
.pic5 {
    position: relative;
    left: 450px;
}

.pic6 {
    position: relative;
    left: 420px;
}

@media only screen and (max-device-width: 1024px) {

    .bgimg-1,
    .bgimg-2,
    .bgimg-3,
    .bgimg-4 {
        background-attachment: scroll;
    }
}

.home {
    font-family: 'Syne Tactile', cursive;
    font-size: 20px;
    position: relative;
    width: auto;
    background-color: burlywood;
    height: auto;
    border: 1px solid gray;
    padding: 5px;
    margin: 20px;

}